<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cajas.css">
    <link rel="shortcut icon" href="../static/img/logo.jpeg" type="image/x-icon"> 
    <script src="../static/js/btn.js"></script>
    <!-- esto es para poner el logo de arriba -->
    <title>Detronix</title>
</head>
<body>
    <header id="header">
        <h1 id="contenedortitulo">DETRONIX</h1>
    </header>
    
    <main id="cuerpo">

        {% for p in pro %}
        
            <div class="cajas" >
                <figure class="imagenes">
                    <img class="img_bd" src="../uploads/{{p[5]}}" alt="{{p[1]}}">
                </figure>
                <div class="cont_titulo">
                    <h4 class="info titulo">{{p[1]}}</h4>
                </div>
                <div class="descri">
                    <h4 class="info">{{p[2]}}</h4>
                </div>
                {% if p[3] >= 1%}
                    <h4 class="info precio">Precio: 1 x ${{p[4]}}</h4>
                    <div class="boton">    
                        <button class="btn compra" id="btn_{{p[0]}}">Comprar</button>
                    </div>
                    <div id="qr_{{p[0]}}" class="qr">
                        <div class="cerrar">
                            <h1 id="cerrar_{{p[0]}}" class="cerra">X</h1>
                        </div>

                        <figure >
                            <img src="../uploads/{{p[6]}}" alt="Codigo QR de {{p[1]}}">
                        </figure>
                        <h1 id="titu">{{p[1]}} = ${{p[4]}}</h1>
                    </div>
                {% else %}
                    <p>Agotado</p>
                {% endif %}
            </div>
        
        {% endfor %}
    </main>


</body>
</html>